@import "style.css";

.banner {
    z-index: 3;
    width: 100vw;
    height: 30rem;
    display: flex;
}
.banner-left {
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}
.banner-left .content {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.banner-left h2 {
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 3.06rem;
    color: #ffffff;
    font-weight: 700;
}
.banner-buttons {
    margin-top: 1.5rem;
    display: flex;
}
.banner-left p {
    width: 43.75rem;
    height: 3.81;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    font-weight: 400;
}
.banner-buttons button {
    width: 11.25rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.94rem;
    line-height: 3.06rem;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--main-font);
    text-align: center;
}
.banner-buttons button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #ef7a13 0%, #f3a300 100%);
    color: white;
}
.banner-buttons a button {
    background: white;
    margin-right: 1rem;
    color: #ee8c19;
}
.banner-buttons a button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #ef7a13 0%, #f3a300 100%);
    color: white;
}
.banner-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.banner-right img {
    margin-top: -3rem;
    width: 23rem;
}
@media only screen and (max-width: 1500px) {
    .banner-left h2 {
        font-size: 2.2rem;
    }
    .banner-left p {
        width: 31.25rem;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    .banner-buttons{
        margin-top: 0.5rem;
    }
    .banner-buttons button {
        width: 8.13rem;
        height: 2.06rem;
    }
    .banner-right img{
        width:25rem;
    }
}
@media only screen and (max-width: 1100px) {
    .banner-left h2 {
        font-size: 1.8rem;
    }
    .banner-left p {
        font-size: 0.70rem;
        line-height: 1.13rem;
    }
    .banner-buttons{
        margin-top: 0.1rem;
    }
    .banner-buttons button {
        width: 6.88rem;
        height: 1.56rem;
        font-size: 0.8rem;
    }
    .banner-right img{
        width:22rem;
    }
    .banner-left{
        justify-content: flex-start;
    }
    .banner-left .content{
        width: 100%;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .banner-right {
        justify-content: center;
    }
}
@media only screen and (max-width: 900px) {
    .banner-left h2 {
        font-size: 1.6rem;
    }
    .banner-left p {
        font-size: 0.70rem;
        line-height: 1.13rem;
    }
    .banner-buttons{
        margin-top: 0rem;
    }
    .banner-buttons button {
        width: 6.25rem;
        height: 1.25rem;
        font-size: 0.7rem;
    }
    .banner-right img{
        width:17rem;
    }
    .banner-left .content{
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 800px) {
    .banner-left h2 {
        font-size: 1.6rem;
        margin-left: -1.5rem;
    }
    .banner-left p {
        width: 18.75rem;
        font-size: 0.70rem;
        line-height: 1.13rem;
    }
    .banner-buttons{
        margin-top: 2rem;
        margin-left: -5rem;
    }
    .banner-buttons button {
        width: 6.25rem;
        height: 1.25rem;
        font-size: 0.7rem;
    }
    .banner-right img{
        width:14rem;
        margin-top: 1rem;
    }
    .banner-left .content{
        align-items: center;
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 600px) {
    .banner-left .content{
        margin-left: -1rem;
    }
    .banner-left h2{
        font-size: 1.2rem;
        margin-left: 0.4rem;
    }
    .banner-left p {
        width: 12.5rem;
        font-size: 0.65rem;
        line-height: 1.13rem;
    }
    .banner-left{
        margin-left: 2rem;
        width:75%;
    }
    .banner-right{
        width: 35%;
    }
    .banner-right img{
        width:12rem;
        margin-top: 5rem;
    }
    .banner-buttons{
        margin-top: 4rem;
        margin-left: 1.2rem;
        z-index: 5;
    }
    .banner-buttons button {
        width: 6.25rem;
        height: 1.25rem;
        font-size: 0.7rem;
    }
}
