@import "style.css";

.banner {
    z-index: 3;
    width: 100vw;
    height: 30rem;
    display: flex;
}
.banner-left {
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left .content {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.banner-left h2 {
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 49px;
    color: #ffffff;
    font-weight: 700;
}
.banner-buttons {
    margin-top: 1.5rem;
    display: flex;
}
.banner-left p {
    width: 700px;
    height: 61px;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
}
.banner-buttons button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 49px;
    color: #ffffff;
    font-weight: 600;
    font-family: var(--main-font);
    text-align: center;
}
.banner-buttons button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #ef7a13 0%, #f3a300 100%);
    color: white;
}
.banner-buttons a button {
    background: white;
    margin-right: 1rem;
    color: #ee8c19;
}
.banner-buttons a button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #ef7a13 0%, #f3a300 100%);
    color: white;
}
.banner-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.banner-right img {
    margin-top: -3rem;
    width: 30rem;
}
@media only screen and (max-width: 1500px) {
    .banner-left h2 {
        font-size: 2.2rem;
    }
    .banner-left p {
        width: 500px;
        font-size: 0.75rem;
        line-height: 20px;
    }
    .banner-buttons{
        margin-top: 0.5rem;
    }
    .banner-buttons button {
        width: 130px;
        height: 33px;
    }
    .banner-right img{
        width:25rem;
    }
}
@media only screen and (max-width: 1100px) {
    .banner-left h2 {
        font-size: 1.8rem;
    }
    .banner-left p {
        font-size: 0.70rem;
        line-height: 18px;
    }
    .banner-buttons{
        margin-top: 0.1rem;
    }
    .banner-buttons button {
        width: 110px;
        height: 25px;
        font-size: 0.8rem;
    }
    .banner-right img{
        width:22rem;
    }
    .banner-left{
        justify-content: flex-start;
    }
    .banner-left .content{
        width: 100%;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .banner-right {
        justify-content: center;
    }
}
@media only screen and (max-width: 900px) {
    .banner-left h2 {
        font-size: 1.6rem;
    }
    .banner-left p {
        font-size: 0.70rem;
        line-height: 18px;
    }
    .banner-buttons{
        margin-top: 0rem;
    }
    .banner-buttons button {
        width: 100px;
        height: 20px;
        font-size: 0.7rem;
    }
    .banner-right img{
        width:17rem;
    }
    .banner-left .content{
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 800px) {
    .banner-left h2 {
        font-size: 1.6rem;
        margin-left: -1.5rem;
    }
    .banner-left p {
        width: 300px;
        font-size: 0.70rem;
        line-height: 18px;
    }
    .banner-buttons{
        margin-top: 2rem;
        margin-left: -5rem;
    }
    .banner-buttons button {
        width: 100px;
        height: 20px;
        font-size: 0.7rem;
    }
    .banner-right img{
        width:14rem;
    }
    .banner-left .content{
        align-items: center;
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 600px) {
    .banner-left{
        width:70%;
    }
    .banner-right{
        width: 30%;
    }
    .banner-right img{
        margin-top: 5rem;
        width:10rem;
    }
}
@media only screen and (max-width: 600px) {
    .banner-left{
        width:70%;
    }
    .banner-left .content{
        margin-left: -1rem;
    }
    .banner-right{
        width: 30%;
    }
    .banner-left h2{
        font-size: 1.2rem;
        margin-left: 1.0rem;
    }
    .banner-right img{
        margin-top: 5rem;
        width:10rem;
    }
    .banner-left p {
        width: 200px;
        font-size: 0.65rem;
        line-height: 18px;
    }
    .banner-buttons{
        margin-top: 4rem;
        margin-left: 1.2rem;
    }
    .banner-buttons button {
        width: 100px;
        height: 20px;
        font-size: 0.7rem;
    }
}
