@import "style.css";

.nav-bar {
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.logo-div {
    margin-top: 2rem;
    width: 12rem;
    height: 5rem;
    border: 7px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    font-size: 3rem;
    line-height: 77px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 700;
}
.left,
.middle,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.left {
    width: 50%;
}
.left h1 {
    font-size: 2rem;
}
.separator {
    width: 1px;
    height: 30px;
    background-color: #f2f2f2;
    margin: 0 1rem;
}
.middle {
    width: 0%;
}
.middle h1 {
    margin: 0 1rem;
    font-size: 1.5rem;
}
.right {
    margin-top: -4rem;
    width: 80%;
}
.right h1 {
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 49px;
    color: #ffffff;
    font-weight: 500;
}
.right h1:hover {
    cursor: pointer;
    color: var(--light-orange);
}
.logo-div2{
    display: none;
}
@media only screen and (max-width: 950px) {
    .right h1 {
        margin: 0 0.5rem;
        font-size: 0.8rem;
    }
    .logo-div {
        width: 8rem;
        height: 4rem;
        border: 5px solid rgba(255, 255, 255, 0.3);
    }
    #logo {
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 700px) {
    .left{
        width:30%;
    }
    .right{
        width:70%;
    }
    .logo-div {
        width: 6rem;
        height: 3rem;
        border: 3px solid rgba(255, 255, 255, 0.3);
    }
    #logo {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 700px) {
    .left{
        width:30%;
    }
    .right{
        width:70%;
        margin-top:-2rem;
    }
    .logo-div {
        width: 6rem;
        height: 3rem;
        border: 3px solid rgba(255, 255, 255, 0.3);
    }
    #logo {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 600px) {
    .logo-div{
        width:4rem;
        height: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.3);
    }
    #logo{
        font-size: 1.2rem;
    }
    .left{
        width:20%;
    }
    .right{
        width:80%;
    }
    .right{
        margin-top: -1rem;
    }
    .right h1{
        margin: 0 0.3rem;
        font-size: 0.7rem;
    }
    .separator{
        margin: 0 0.5rem;
    }
    .nav-bar .left{
        display: none;
    }
    .nav-bar .right{
        margin-top:2rem;
        width:100%;
    }
    .logo-div2{
        margin-top: 0;
        width:2.5rem;
        height: 1.2rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo2{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 450px) {
    .right h1{
        margin: 0 0.2rem;
        font-size: 0.6rem;
    }
    .right{
        margin-top: 0;
        width:85%
    }
    
    .separator{
        margin: 0 0.2rem;
    }
}
