body {
  margin: 0;
}
.nawigacja {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.logo-div {
  margin-top: 2rem;
  width: 12rem;
  height: 5rem;
  border: 7px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  font-size: 3rem;
  line-height: 77px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 700;
  font-family: "Montserrat";
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left h1 {
  font-size: 2rem;
}
.separator {
  width: 1px;
  height: 30px;
  background-color: #f2f2f2;
  margin: 0 1rem;
}
.middle {
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.middle h1 {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.right {
  margin-top: -4rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.right h1 {
  margin: 0 1rem;
  font-size: 1rem;
  line-height: 49px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
}
.baner {
  width: 100vw;
  height: 30rem;
  display: flex;
}
.baner-lewy {
  width: 60%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baner-lewy .content {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.baner-lewy h2 {
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 49px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
.przyciski {
  margin-top: 1.5rem;
  display: flex;
}
.baner-lewy p {
  width: 700px;
  height: 61px;
  font-size: 1rem;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.app {
  width: 100vw;
  height: 100vh;
  background: url("./imgs/Background.png");
  background-size: 100% 100%;
}
.baner-lewy button {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baner-lewy button h1 {
  font-size: 15px;
  line-height: 49px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}
.baner-lewy button:first-of-type {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background: white;
  margin-right: 1rem;
}
.baner-lewy button:first-of-type h1 {
  font-size: 15px;
  line-height: 49px;
  color: #ee8c19;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}
.baner-prawy {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.baner-prawy img {
  margin-top: -3rem;
  width: 30rem;
}
.jak-to-dziala {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.jak-to-dziala h2 {
  font-size: 2.5rem;
  line-height: 49px;
  color: #1a1a1a;
  font-weight: 700;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
}
.jak-to-dziala .item .left,
.jak-to-dziala .item .right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.jak-to-dziala .item .right {
  width: 50%;
}
#item1 {
  margin-left: -20rem;
  margin-top: -10rem;
}
#item2 {
  margin-left: 45rem;
  margin-top: -10rem;
}
#item3 {
  margin-top: -15rem;
  margin-left: -10rem;
}
#item4 {
  flex-direction: column;
  margin-top: -20rem;
  margin-left: 50rem;
}
.up {
  margin-left: 10rem;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.down {
  margin-top: -7rem;
  height: 50%;
  display: flex;
  flex-direction: column;
}
#arrow1,
#arrow2,
#arrow3,
#arrow4 {
  z-index: 3;
}
#arrow1 {
  transform: rotate(50deg);
  margin-left: -5rem;
  margin-top: -15rem;
}
#arrow2 {
  transform: rotate(-230deg);
  margin-top: -10rem;
}
#arrow3 {
  width: 7rem;
  height: 7rem;
}
#phone1 {
  transform: rotate(-20deg);
}
#phone4 {
  transform: rotate(-70deg);
}
.jak-to-dziala .item .left img,
.jak-to-dziala .item .down img {
  width: 15rem;
  height: 30rem;
  filter: drop-shadow(0 0 17.5px rgba(0, 0, 0, 0.25));
}
.jak-to-dziala .item .right h2,
.jak-to-dziala .item .up h2 {
  font-size: 70px;
  line-height: 36px;
  color: #ff9225;
  font-weight: 400;
  font-family: "Love Ya Like A Sister";
}
.jak-to-dziala .item .right h1,
.jak-to-dziala .item .up h1 {
  font-size: 2rem;
  width: 15rem;
  line-height: 36px;
  color: #ff9225;
  font-weight: 400;
  font-family: "Love Ya Like A Sister";
}
.jak-to-dziala .item .right p,
.jak-to-dziala .item .up p {
  width: 293px;
  height: 87px;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 400;
  font-family: "Montserrat";
}
.one-line {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  height: 4rem;
}
.top-item {
  clip-path: ellipse(50% 40% at 50% 50%);
  width: 130%;
  height: 30rem;
  background-color: white;
}
.middle-item {
  margin-top: -17rem;
  margin-bottom: 8rem;
  padding-top: 0rem;
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}
.item {
  margin-top: 0rem;
  padding-top: 0rem;
  width: 50%;
  display: flex;
  position: relative;
  z-index: 2;
}
.down-item {
  margin-top: -5rem;
  padding-top: 0rem;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
}
.down-item h2 {
  font-size: 2rem;
  line-height: 36px;
  color: #ff9225;
  font-weight: 400;
  font-family: "Love Ya Like A Sister";
}
.Cennik {
  width: 100vw;
  height: 50rem;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(-45deg, #531493 0%, #2c1585 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cennik .content{
  display: flex;
  flex-direction: column;
  width:80%;
  height:90%;
}
.content .single-line{
  display: flex;
  align-items: center;
}
.Cennik h2 {
  font-size: 50px;
  line-height: 49px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
.Cennik h1 {
  font-size: 15px;
  line-height: 49px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
}
.left-ad{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width:30%;
  height:35rem;
  background-color: white;
  margin-right: 0.5rem;
}
.right-ad{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width:70%;
  height:35rem;
  background-color: white;
  margin-left: 0.5rem;
}