:root {
  --orange: #ff9225;
  --light-orange: #f5b035;
  --black: #1a1a1a;
  --main-font: "Montserrat";
  --other-font: "Love Ya Like A Sister";
}
body {
  margin: 0;
  font-family: var(--main-font);
}
a {
  text-decoration: none;
}
.app {
  width: 100vw;
  height: 100vh;
  background: url("./imgs/Background.png");
  background-size: 100% 100%;
}
.loading {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 6;
  background-image: linear-gradient(-45deg, #531493 0%, #2c1585 100%);
}
.loading img {
  height: 3rem;
  width: 3rem;
}
.app{
  display: none;
}